* {
    margin: 0;
  }

.preloader {
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: visible;
    z-index: 999;
    background-color: white;
    transition: all 0.3s linear;
}

.hide-preloader {
    z-index: -999;
    visibility: hidden;
}

body {
    position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

.container {
    min-height: 100vh;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 100%;
    height: 100%;
}

h1 {
    padding-top: 150px; /* center hack, fix later */
    color: white;
    z-index: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5rem;
}

/* switch container */
.switch-btn {
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 7rem;
    height: 2rem;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-around;
    border: none;
    transition: all 0.3s linear;
    z-index: 2;
}

/* switch text */
.switch-btn span {
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: #49a6e9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* switch element */
.switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: #49a6e9;
    border-radius: 0.5rem;
    margin: 0;
    display: block;
    transition: all 0.3s linear;
}

.slide .switch {
    left: 50%;
}

#overlay {
    position: relative;
    background-color: black;
    opacity: 30%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}